services:
  backend:
    build: .
    container_name: backend_container
    ports:
      - "3003:3002"
    env_file:
      - .env
    environment:
      - DB_HOST=host.docker.internal
    restart: always